<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: head">
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<style>
  small{
    color: red;
  }
</style>
<div th:insert="layout :: header" ></div>
<div class="container-fluid d-flex justify-content-center">
  <h1>Create New Employee</h1>
</div>

<div class="container d-flex ">
  <form action="/employees/create" style="width: 70%;margin-left: 155px" method="post" th:object="${employeeDto}">
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Employee Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputName" th:field="*{name}">
        <small th:errors="*{name}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputDate" class="col-sm-3 col-form-label">Date</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" id="inputDate" th:field="*{birthday}">
        <small th:errors="*{birthday}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputIdCard" class="col-sm-3 col-form-label">Id card</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="inputIdCard" th:field="*{idCard}">
        <small th:errors="*{idCard}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputSalary" class="col-sm-3 col-form-label">Salary</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="inputSalary" th:field="*{salary}">
        <small th:errors="*{salary}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPhone" class="col-sm-3 col-form-label">Phone</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="inputPhone" th:field="*{phone}">
        <small th:errors="*{phone}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="inputEmail" th:field="*{email}">
        <small th:errors="*{email}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inpurAddress" class="col-sm-3 col-form-label">Address</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inpurAddress" th:field="*{address}">
        <small th:errors="*{address}"></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputType" class="col-sm-3 col-form-label">Position</label>
      <div class="col-sm-6">
        <select  id="inputType" th:field="*{position}">
          <option th:each="p : ${positions}"
          th:value="${p.positionId}"
          th:text="${p.positionName}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputType1" class="col-sm-3 col-form-label">Education degree</label>
      <div class="col-sm-6">
        <select  id="inputType1" th:field="*{education}">
          <option th:each="e : ${educations}"
          th:text="${e.educationName}"
          th:value="${e.educationId}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputType2" class="col-sm-3 col-form-label">Division</label>
      <div class="col-sm-6">
        <select id="inputType2" th:field="*{division}">
          <option th:each="d : ${divisions}"
          th:text="${d.divisionName}"
          th:value="${d.divisionId}"></option>
        </select>
      </div>
    </div>
<!--    <div class="form-group row">-->
<!--      <label for="inputType3" class="col-sm-3 col-form-label">User Name</label>-->
<!--      <div class="col-sm-6">-->
<!--        <select name="userName" id="inputType3">-->
<!--          <c:forEach items="${users}" var="user">-->
<!--            <option value="${user.userName}">${user.userName}</option>-->
<!--          </c:forEach>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
    <div class="d-flex ">
      <a href="/employees" class="btn btn-secondary" style="margin-left: 200px">Back to list</a>
      <input type="submit" class="btn btn-success" style="margin-left: 174px;width: 100px" value="Create">
    </div>

  </form>
</div>
<script src="/bootraps_min/jquery-3.6.0.min.js"></script>
<script src="/bootraps_min/popper.min.js"></script>
<script src="/bootraps_min/bootstrap.min.js"></script>
</body>
</html>