<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>
<h3>Products</h3>
<div style="display: flex;justify-content: space-between">
    <p>
        <a th:href="@{/product/create}">
            Add new product
        </a>
    </p>
    <p>
    <form action="/product/search" method="post">
    <input type="submit" value="search">
    <input type="text" name="search">
</form>
    </p>
</div>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "products">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Show</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.manufacturer}"></td>
        <td><a th:href="@{/product/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/product/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{/product/view(id=${row.id})}">Show</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>