<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container-fluid align-items-center justify-content-between d-flex mb-3"
     style="background: #085F56;height: 60px">
    <div class=""><img src="../../img/FURAMA.png" height="60" width="60"/></div>
    <h1 class="d-flex justify-content-center text-white">Contract List</h1>
    <p class="mr-4" style="color: white;font-size: larger">Đặng Anh Toàn</p>
</div>
<div th:insert="layout :: header" class="my-3"></div>
<p style="color: #005cbf" th:text="${msg}"></p>
<div class="d-flex justify-content-between my-3">
    <a href="/customers/create" class="btn btn-info" style="border-radius: 5px">Create new customer</a>
    <form class="form-inline my-2 my-lg-0 d-flex" >
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="keyWord">
        <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

</body>
</html>